body {
  font-size: 15pt;
  background-image: linear-gradient(to right top, #d16ba5, #d47bb6, #d78bc5, #da9bd4, #ddaae1, #d9b5ea, #d6bff2, #d4c9f8, #ccd0fa, #c8d7f9, #c8dcf6, #cce1f2);
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
.head{
  border-bottom: 1px solid grey;
  font-family: 'Andika', sans-serif;
}
.cont {
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  width: 75%;
  height: 500px;
  border-radius: 30px;
  text-align: center;
}

.t {
  width: 75%;
}
textarea{
  background: transparent;
  outline:none;
}
.mt {
  height: 81px;
  width: 75%;
  position: relative;
  border:1px solid grey;
  font-weight: 250;
  left: 50%;
  transform: translate(-50%);
}

.b {
  margin-top:15%;
  display: flex;
  border: 1px solid grey;
  width:75%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

button {
  border:none;
  flex: 50%;
  background: transparent;
  outline: none;
  height: 50px;
  width: 50px;
}